.blackboard-page {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;

    span {
      display: flex;
      gap: .1rem;

      p {
        font-size: 1.3rem;
        font-weight: bold;
      }

      p:nth-child(1) {
        color: var(--lightblue);
      }

      p:nth-child(2) {
        color: var(--blue);
      }

      p:nth-child(3) {
        color: var(--darkblue);
      }
    }
  }

  .news {
    width: 100dvw;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 7dvh;
    
    p {
      font-size: .95rem;
      padding: .3rem .5rem;
      border: 1px solid var(--lightgray);
      border-radius: .5rem;
      max-width: 80dvw;
    }
  }

  p {
    font-size: .9rem;
    margin: 0;
  }

  button {
    border: 2px solid var(--blue);
    border-radius: .3rem;
    background-color: white;
    color: var(--blue);
    padding: .1rem .3rem;
  }
  
  button:hover {
    cursor: pointer;
    background-color: var(--darkblue);
  }

  .content {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10dvh;

    .buttons {
      display: flex;
      position: relative;
      gap: 2rem;

      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background-color: var(--white);
        border-radius: 50%;
        border: 2px solid var(--blue);

        svg {
          color: var(--blue);
          width: 100%;
          height: 100%;
          transform: translate(.1rem);
        }
      }

      button:first-child > svg {
        transform: translate(-.1rem);
      }
    }

    > div:last-child {
      position: relative;
      overflow: hidden;
      width: 100dvw;
      height: 75dvh;
      margin-top: 2dvh;
      box-sizing: border-box;
    }

    .blackboard {
      display: flex;
      position: absolute;
      left: 0;
      overflow: hidden;
      height: 75dvh;
      transition: .8s;
      
      .weekday {
        width: 100dvw;
        height: 75dvh;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;

        > p {
          text-transform: capitalize;
          font-size: .95rem;
          margin-bottom: 1.5rem;
        }

        > div {
          width: 100dvw;
          height: 75dvh;
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
        }

        .element {
          display: flex;
          position: absolute;
          gap: 1rem;
          border-radius: .3rem;
          border: 1px solid var(--lightgray);
          background-color: var(--lightlightgray);
          width: 55%;
          overflow-y: scroll;
          padding: .1rem .2rem;
          box-sizing: border-box;

          svg {
            min-width: 1rem;
            min-height: 1rem;
            overflow: visible
          }

          p {
            font-size: .8rem;
          }

          .info {
            color: var(--cyan);
          }

          .change {
            color: var(--orange);
          }

          .element-time {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: scroll;

            span {
              display: flex;
              gap: .5rem;
            }
          }
        }

        .element.cancellation {
          background-color: var(--lightred);
          border-color: var(--darkred);
        }

        .element.change {
          background-color: var(--lightorange);
          border-color: var(--darkorange);
        }

        .element.information {
          background-color: var(--lightcyan);
          border-color: var(--darkcyan);
        }

        .timelines {
          position: absolute;
          width: 100dvw;
          height: 75dvh;
          left: 1rem;

          .timeline > span {
            display: flex;
            justify-content: space-between;
            margin-right: 10dvw;

            div {
              height: 1px;
              width: 92%;
              background-color: var(--lightlightgray);
            }

            p {
              transform: translateY(-.5rem);
            }
          }
        }
      }
    }

    .blackboard.weekday-1 {
      transform: translateX(-100dvw);
    }
  }
}