.dashboard {
  display: flex;
  position: relative;
  width: 100dvw;
  height: 100dvh;

  .controll-section {
    display: flex;
    flex-direction: column;
    width: 20dvw;
    justify-content: space-between;

    > div:first-child {
      display: flex;
      flex-direction: column;
      margin: 2rem 0 0 3rem;

      span {
        display: flex;
      }

      p {
        margin: 0;
        font-weight: 600;
        font-size: 1.9rem;
      }

      p:nth-child(1) {
        color: var(--lightblue);
      }
      p:nth-child(2) {
        color: var(--blue);
      }
      p:nth-child(3) {
        color: var(--darkblue);
      }

      h1 {
        font-weight: 600;
        font-size: 1.9rem;
        margin: 0;
      }
    }
  }

  .bars {
    display: flex;
    flex-direction: column;
    height: 60dvh;

    hr {
      width: 75%;
      color: var(--lightgray);
      margin: 1rem 1.5rem;
      opacity: .5;
    }
  }

  .bar {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      max-width: 70%;
      height: 4dvh;
      align-items: center;
      padding: .5rem .7rem .5rem 3rem;
      cursor: pointer;
      border-radius: 0 2rem 2rem 0;
    }

    > div.selected {
      background-color: var(--lightblue);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }

  .info {
    color: var(--gray);
    margin: .5rem 3rem;
  }
}

.screen-alert {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .dashboard {
    display: none;
  }

  .screen-alert {
    display: block;
    margin: 1rem;

    div {
      display: flex;
      gap: .7rem;
      cursor: pointer;
      width: fit-content;
      padding: .3rem 1rem;
      border: 2px var(--blue) solid;
      border-radius: .5rem;
    }
  }
}