@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --blue: #2b4b6f;
  --darkblue: #153253;
  --lightblue: #2f5f965f;
  --cyan: #226666;
  --darkcyan: #003333;
  --lightcyan: #22666650;
  --orange: #be6217;
  --darkorange: #ae5105;
  --lightorange: #be621750;
  --green: #37962d;
  --darkgreen: #1d7614;
  --lightgreen: #37962de4;
  --red: #a11d1d;
  --darkred: #790404;
  --lightred: #a11d1d50;
  --gray: #6e6e6e;
  --lightgray: #aaa8a8;
  --lightlightgray: #aaa8a82f;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow: hidden;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;

  .close {
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    right: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
