:root {
  --blue: #2b4b6f;
  --darkblue: #153253;
  --orange: #aa6c39;
  --gray: #6e6e6e;
  --lightgray: #aaa8a8;
}

body {
  margin: 0;
  font-family: -apple-system, 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow: hidden;
}

