.classes-component {
  display: flex;
  width: 80dvw;
  margin-top: 15dvh;

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 20dvw;
    height: 80%;

    hr {
      width: 75%;
      color: var(--lightgray);
      margin: 2rem 1.5rem;
      opacity: .5;
    }

    > button {
      border: none;
      border-radius: .3rem;
      background-color: var(--blue);
      color: white;
      padding: .5rem 1rem;
      width: 8dvw;
      margin-right: calc(1dvw + 5rem);
    }
    
    > button:hover {
      cursor: pointer;
      background-color: var(--darkblue);
    }

    .order {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 4rem;
      margin-top: 2rem;
      width: 12dvw;

      p {
        margin: 0;
      }

      > p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      div {
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid var(--lightgray);
        border-radius: .5rem;
        overflow: hidden;
      }

      button {
        background-color: white;
        border: none;
        border-right: 1px solid var(--lightgray);
        padding: .3rem;
        width: 2dvw;
        height: fit-content;
        cursor: pointer;
      }

      button:last-child {
        border-right: none;
      }

      button.selected {
        background-color: var(--lightblue);
      }

      svg {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    .sort {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 4rem;
      width: 12dvw;

      p {
        margin: 0;
      }

      > p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      input {
        border-radius: .3rem;
        border-color: var(--lightgray);
        border-style: solid;
        border-width: .1em;
        padding: .5rem 1rem;
        box-sizing: border-box;
        width: 100%;

        color: var(--gray);
      }

      input:focus {
        border-color: var(--blue);
        outline: none;
      }

      .multi {
        display: flex;
        position: relative;
        gap: .5rem;
        margin-top: 1.2rem;

        > p {
          position: absolute;
          top: -1.2rem;
        }

        > div p {
          font-weight: lighter;
        }
      }
    }
  }

  .classes {
    display: block;
    box-sizing: border-box;
    width: 50dvw;
    height: 70dvh;
    margin: 0 5dvw;
    border-spacing: 0;
    border-radius: .5rem .5rem 0 0;
    overflow-y: auto;

    th {
      text-transform: capitalize;
    }

    tr {
      th {
        width: calc(100% / 4);
        font-size: 1.2rem;
        font-weight: lighter;
        padding: .5rem;
        text-align: left;
      }

      > th:nth-child(3) {
        width: min-content;
      }

      > th:nth-child(4) {
        width: min-content;
      }

      > th:nth-child(7) {
        width: min-content;
      }

      > th:nth-child(8) {
        width: min-content;
      }
    }

    tr:not(tr:last-child):not(tr:first-child) > th {
      border-bottom: 1px solid var(--lightgray);
    }

    tr:last-child > th {
      border-bottom: 3px solid var(--blue);
    }

    tr:first-child > th {
      font-weight: normal;
      color: white;
      background-color: var(--blue);
    }

    tr:not(tr:first-child) {
      cursor: pointer;
    }

    tr:nth-child(2n) {
      background-color: var(--lightlightgray);
    }

    tr:hover:not(tr:first-child) {
      background-color: var(--lightblue);
    }
  }
}