.classes-popup {
  position: relative;
  width: 20dvw;
  height: fit-content;

  p {
    margin: 0;
  }

  > p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  input {
    border-radius: .3rem;
    border-color: var(--lightgray);
    border-style: solid;
    border-width: .1em;
    padding: .5rem .8rem;
    width: 9dvw;
    box-sizing: border-box;

    color: var(--gray);
  }

  input:focus {
    border-color: var(--blue);
    outline: none;
  }

  .settings {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
    width: 100%;

    > div {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .actions.old {
    gap: 2rem;
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: center;

    > button {
      border: none;
      border-radius: .3rem;
      background-color: var(--blue);
      color: white;
      padding: .5rem 1rem;
      max-width: 10dvw;
      min-width: 5dvw;
      width: 100%;
    }
    
    > button:hover {
      cursor: pointer;
      background-color: var(--darkblue);
    }

    > button:nth-child(2) {
      background-color: var(--red);
    }

    >button:nth-child(2):hover {
      background-color: var(--darkred);
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  error {
    color: darkred;
    text-align: center;
    transform: translate(0, .5rem);
  }
}